<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Todo</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <link rel="stylesheet" href="materialize.css">
    <link rel="stylesheet" href="custom.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper blue lighten-1 center-align">
                TODO list
            </div>
        </nav>
        <div id="app" class="container">
            <div class="row">
                <div class="col-sm">
                    <ul>
                        <li class="collection-header">
                            <h4>Tasks</h4>
                        </li>
                        <li v-for="(t, key) in task">
                            <div class="card blue darken-1 z-depth-1">
                                <div class="card-content white-text">
                                    <div class="row margin-0">
                                        <div class="input-field col s8 margin-0">
                                            <input v-if="currentMessage != null && currentKey == t['.key']" v-model="currentMessage" type="text" class="white-text">
                                            <div v-on:click="edit(t)" v-show="currentMessage == null || currentKey != t['.key']">{{ t.content }}</div>
                                        </div>
                                        <div class="col s4">
                                            <button v-if="currentMessage == null || currentKey != t['.key']" v-on:click="removeTask(t)" class="waves-effect waves-red btn blue lighten-1 right">
                                                <i class="material-icons left">delete</i>Delete</button>
                                            <button v-if="currentMessage == null || currentKey != t['.key']" v-on:click="edit(t)" class="waves-effect waves-light btn blue lighten-1 right">
                                                <i class="material-icons left">edit</i>Edit</button>
                                            <button v-if="currentMessage != null && currentKey == t['.key']" v-on:click="save(currentMessage, t)" class="waves-effect waves-light btn blue lighten-1 right">
                                                <i class="material-icons left">edit</i>Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <form class="col s12" v-on:submit.prevent="addTask">
                            <div class="row">
                                <div class="input-field col s2 blue-text darken-1">
                                    <button type="submit" class="waves-effect waves-green btn blue lighten-1">
                                        <i class="material-icons left">add</i> Add</button>
                                </div>
                                <div class="input-field col s10 blue-text darken-1">
                                    <input id="icon_prefix" type="text" class="validate" v-model="newTask.content">
                                    <label for="icon_prefix">New task</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>